@font-face {
  font-family: 'Mansory';
  src: local('Mansory'), url(./assets/fonts/Mansory.ttf) format('truetype');
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
}

.borderdText {
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: rgba(0, 0, 0, 1) !important;
}